<footer class="jumbotron">

  <div class="container">
    <div class="pull-left">
      <ul class="list-inline">
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-2x fa-fw fa-envelope-o">&nbsp;</i>
            <span>{{ site.email }}</span>
          </a>
        </li>
      </ul>
      <p class="copyright">Content &copy; <strong>Greg Brock 2009&ndash;2015</strong> <br>unless otherwise noted</p>
    </div>
    <ul class="social-list">
      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-2x fa-fw fa-github-alt"></i>
          <span>{{ site.github_username }}</span>
        </a>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        <a href="http://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-2x fa-fw fa-twitter"></i>
          <span>{{ site.twitter_username }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>

</footer>
