<footer class="site-footer jumbotron">

	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<h2 class="footer-heading">{{ site.title }}</h2>
			</div>
			<div class="col-sm-4">
				<ul class="list-unstyled">
					<li><a href="mailto:{{ site.email }}"><span class="fa fa-envelope-o fa-fw">&nbsp;</span>{{ site.email }}</a></li>
					{% if site.github_username %}
					<li>
						<a href="https://github.com/{{ site.github_username }}">
							<span class="fa fa-github fa-fw">&nbsp;</span><span class="username">{{ site.github_username }}</span>
						</a>
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						<a href="https://twitter.com/{{ site.twitter_username }}">
							<span class="fa fa-twitter fa-fw">&nbsp;</span><span class="username">{{ site.twitter_username }}</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-sm-8">
				<p class="text">{{ site.description }}</p>
			</div>
		</div>
	</div>

</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
