@import "colors.scss";
@import "variables.scss";
@import "bootstrap/_bootstrap.scss";
@import "fontawesome/font-awesome.scss";
@import "_syntax_highlighting.scss";

@media (min-width: $screen-sm-min) {
    @import "sticky-footer.scss";
}

html {
    min-height: 100%;
    background-color: $jumbotron-bg;
}

.img-banner {
    margin: -$grid-gutter-width;
    margin-bottom: 1em;
    position: relative;
}

.wrapper {
    /* Background pattern from subtlepatterns.com */
    background: $body-bg url('/img/light_wool_@2X.png') top center;
    background-size: 190px 191px;
    position: relative;

    & > .container,
    & > .inner-wrapper > .container {
        margin-bottom: 8em;
        background: $body-bg;
        box-shadow: 0 0 8px rgba($gray-base, .1);
        padding: $grid-gutter-width;

        h1:first-of-type {
            margin-top: 0;
        }

        &.trans {
            background-color: transparent;
            box-shadow: none;
            padding: 0 ($grid-gutter-width/2);
            margin-bottom: 0em;
        }
    }

    &.home {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 200px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

        }
    }
}

h1 {
    font-weight: 700;
}

.media {
    .media-heading {
        margin-bottom: 0;
    }

    .label {
        margin-bottom: 3px;
        display: inline-block;
    }
}

.container.home-header {
    padding-top: 6em;
    margin-bottom: 0;
    background: transparent;
    box-shadow: none;

    .blog-callout {
        font-family: $font-family-sans-serif;
        a {
            display: block;
            background-color: lighten($color-primary-0, 10%);
            color: $body-bg;
            padding: $padding-large-vertical $padding-large-horizontal;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    & > h1 {
        margin-top: 0;
        color: $color-primary-0;
        text-shadow: 0 1px #FFF, 0 2px 2px rgba(0,0,0,0.15);
    }

    & + .container {
        border-top: 20px solid lighten($color-primary-0, 10%);
    }
}

footer.jumbotron {
    min-height: 100%;
    margin-bottom: 0;
    position: relative;
    color: $gray;

    & > .container {
        position: relative;
    }

    .copyright {
        font-size: $font-size-h6;
    }

    a {
        text-decoration: none;
    }
}

i, i + span {
    vertical-align: middle;
}

.h1-btns {
    margin-top: $line-height-computed;
}

.navbar, .jumbotron, .tooltip {
    font-weight: 300;
}

.navbar-brand {
    font-weight: 700;
    font-size: $font-size-h3;
    font-family: $font-family-sans-serif;
}

header {
    pointer-events: none;

    a {
        pointer-events: all;
    }
}

.navbar-static-top {
    margin-bottom: 0;
}

.post-header {
    margin-top: -$grid-gutter-width;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width;
    background-color: $color-primary-3;
    color: $body-bg;
}

.post-content {
    font-family: $font-family-serif;

    pre {
        margin-bottom: 0;
    }

    p, .highlight, pre {
        margin-bottom: $line-height-computed;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .thumbnail {

        &.pull-left {
            margin-right: $grid-gutter-width;
        }

        &.pull-right {
            margin-left: $grid-gutter-width;
        }

        img {

        }

        .caption {
            font-size: floor($font-size-base * 0.75);
            font-style: italic;
            padding: 0 0.25em 0.25em;
            margin-top: $padding-small-vertical;

            p {
                margin: 0 0 1em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#twitter-timeline {
    background-color: #FFF;
    // position: absolute;
    // right: ($grid-gutter-width / 2);
    // top: -120px;
    // box-shadow: 0 0 2px $gray-lighter;
}

.social-list {
    padding: 0;

    & > li {
        display: block;
    }
}

.blog-pager {
    display: none;
}

header {
    position: relative;
}

    .next {
         // background: $body-bg url('/img/light_wool_@2X.png') top center;
         //  background-size: 190px 191px;
       // margin-top: -$grid-gutter-width;
        color: $color-secondary-2-1;

        a {
            padding: $grid-gutter-width;
            padding-top: $grid-gutter-width*2;
            display: block;
            text-decoration: none;
        }

        .pager-title {
            font-family: $font-family-sans-serif;
            text-transform: uppercase;

            h3 {
                text-transform: none;

            }

        }

        h3, p {
            margin: 0;
        }

        h3 {
            text-transform: none;
        }
    }

.wide-pager {
    min-height: 100px;

    & > .container {
        position: relative;
    }

    .prev {
        text-align: right;
        padding: $padding-base-vertical 0;

        p {
        }

        .excerpt {
            text-align: left;
            color: $gray-lighter;
        }
    }

    &.with-previous {
        background-color: $gray;
    }

    color: $body-bg;
    padding: $padding-large-vertical*2 0;

    a {
        color: lighten($color-secondary-2-1, 30%);
        text-decoration: none;

        &:hover, &:focus {
            color: lighten($color-secondary-2-1, 40%);
        }
    }

    .lead {
        font-size: inherit;
    }

    .previous-title {
        margin-top: 0;
    }

    .pager-title {
        text-transform: uppercase;
    }

    small, a {
        font-family: $font-family-sans-serif;
    }

    .excerpt {
        font-size: $font-size-h6;
        a, small {
            font-family: inherit;
        }
    }

}

.navbar {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin-left: $padding-base-horizontal;
    font-weight: 700;

    .navbar-brand {
        text-transform: none;
    }
}

.media-list {
    .media {
        padding-bottom: $padding-large-vertical*2;
        border-bottom: 1px solid $gray-lighter;

        &:last-of-type {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.home-nav {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    ul {
        list-style: none;
        padding: 0;
        margin-left: -$padding-large-horizontal*2;

        li {
            display: inline-block;
            vertical-align: top;
        }


        a {
            padding: $padding-large-vertical $padding-large-horizontal*2;
            text-decoration: none;
            color: $navbar-default-link-color;

            &:hover, &:focus {
                color: $navbar-default-link-hover-color;
            }
        }
    }
}

.sidebar {
//    width:
}

@media (min-width: $screen-sm-min) {
    footer.jumbotron {
        padding-bottom: 0;
        padding-top: $padding-large-vertical*2.5;
    }

    .social-list {
        float: right;
        & > li {
            display: inline-block;
            vertical-align: top;

            a > span {
                display: none;
            }
        }
    }

    #twitter-timeline {
        max-width: 200px;
    }

    .container.home-header {
        position: relative;

        .blog-callout {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        h1 {
            font-size: $font-size-h1*2;
        }
    }

    .previous-post {
        @include clearfix;
        overflow: hidden;
        padding: $padding-large-vertical*3 0;

        .excerpt {
            font-size: $font-size-h6;
            color: $gray-lighter;
        }

        a {
            position: relative;
        }

        .read-more {
            text-align: right;
            font-size: $font-size-h4;
        }
    }

    .blog-pager {
        display: block;
        position: relative;

        .pager {
            text-align: right;
            margin: 0;
        //     position: absolute;
        //     top: -120px;
        //     right: 0;

        //     a {
        //         position: relative;
        //         z-index: 1;
        //     }
        }
    }
}

@media (max-width: $screen-sm-min) {
    #twitter-timeline {
        left: 0;
        right: 0;
        margin-top: $grid-gutter-width;

    }

    .social-list {
        clear: both;
    }

    .wrapper {
        background-image: none;

        & > .container {
            box-shadow: none;
        }
    }
}
