---
layout: default
---
{% include blog_header.html %}
<div class="container trans">
  <div class="alert alert-info">
      The following post is a <strong>draft</strong>.  Move it to <code>/_posts</code> with the name scheme <code >YYYY-MM-DD-title.LANGUAGE</code> when you are ready to publish.
  </div>
</div>
<div class="container">
  {% include blog_post_header.html %}

  <article class="post-content">
    {{ content }}

    {% include blog_author.html %}
  </article>

</div>

{% include previous_post.html %}

